<html style="background-color: red;">
   <head>
      <title>404 Страница не найдена</title>
   </head>
   <link rel="stylesheet" href="../styles/main.css"/>
   

   <body class="cr">
      <main>
         <h1 class="ind"><span class="E">О</span>шибка 404</h1>
         <div class="err">
            <p style="font-size: 40px; padding-bottom: 35px;"><span class="E">С</span>траница не найдена</p>
            <a style="font-size: 30px;" href="/template/index.html">Вернуться на главную</a>
         </div>
      </main>
   </body>
</html>