<!DOCTYPE html>
<html lang="ru">
   <head> <!--в head содержатся то, что не видно пользователю: заголовок, ссылки на файлы css, ссылки на иконки и тп-->
      <meta charset="utf-8" />
      <title>Увлекательное путешествие в мир гЭометрии</title>
      <link rel="stylesheet" href="../styles/shapes.css"/> <!--берём стили из такого-то файла-->
      <link rel="stylesheet" href="../styles/main.css"/>
   </head>
   <body>
      <header class="header">
         <a href="index.html"><img class="logo" src="../images/geometric-puzzle-svgrepo-com.svg" alt="logo"></a>
         <nav>
            <ul class="nav_links">
               <li><button class="visited">Главная</button></li>
               <li><a class="cta" href="geoworld.html"><button class="not_visited">Карта мира</button></a></li>
               <li><a class="cta" href="contacts.html"><button class="not_visited">Контакты</button></a></li>
            </ul>
         </nav>
          <!--ссылка на страницу с нами и контактами-->
      </header>
      <main>
         <body>
            <h1 class="ind"><span class="E">У</span>влекательное путешествие в мир г<span class="E">Э</span>ометрии</h1>
            <section>
               <div class="first">
                  <p class="paragraph">
                     <span class="E">З</span>дравствуй, юный путешественник!
                     <span class="E">П</span>еред тобой открываются двери в необычайно интересный мир г<span class="E">Э</span>ометрии.
                     <span class="E">Н</span>а нашем сайте ты сможешь найти много нового и познавательного про различные геометрические фигуры!
                  </p>
                  <img class="main_img" src="../images/hypn.jpg" alt="Треугольник">
               </div>
               <div class="first">
                  <img class="main_img" src="../images/pifagor.jpeg" alt="Пифагор">
                  <p class="paragraph" align="right">
                     <span class="E">К</span>руги, треугольники, ромбы - это не просто черточки, это части нашей жизни.
                     <span class="E">И</span>зучи наш сайт, и ты поймешь, какие же тайны хранят геометрические фигуры. <span class="E">В</span>перед, за истиной!
                  </p>
               </div>
               <div class="err" style="padding-bottom: 50px;">
                  <a href="geoworld.html"><button class="adventure">Начать путешествие</button></a>
               </div>

            </section>  
         </body>
      </main>
      <footer class="copyright"> 
         © Авторские права принадлежат <a href="https://t.me/ddd_drach_ddd">Драч Даниилу </a> и <a href="https://t.me/paket8d">Щепину Кириллу</a>, 2024.
      </footer>
   </body>
</html>