<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8"/>
      <title>Трапеция</title>
      <link rel="stylesheet" href="../styles/shapes.css"/> <!--берём стили из такого-то файла-->
      <link rel="stylesheet" href="../styles/main.css"/>
   </head>
   <body>
      <header class="header">
         <a href="index.html"><img class="logo" src="../images/geometric-puzzle-svgrepo-com.svg" alt="logo"></a>
         <nav>
            <ul class="nav_links">
               <li><a class="cta" href="index.html"><button class="not_visited">Главная</button></a></li>
               <li><a class="cta" href="geoworld.html"><button class="not_visited">Карта мира</button></a></li>
               <li><a class="cta" href="contacts.html"><button class="not_visited">Контакты</button></a></li>
            </ul>
         </nav>
          <!--ссылка на страницу с нами и контактами-->
      </header>
      <main>
         <h1 class="ind"><span class="E">Т</span>рапеция</h1>
         <section>
            <div class="first">
               <p class="paragraph"><span class="E">С</span>лово «трапеция» произошло от древнегреческого слова «трапезион» (обозначает столик). <span class="E">T</span>акже от данного слова произошли уже немного подзабытые в обиходе слова, такие как «трапеза» и прочие родственные ему слова.</p>
               <img class="main_img" src="../images/trapeza.jpg" alt="Трапеза">
            </div>
            <div class="first">
               <img class="main_img" src="../images/trapezevidnaya.jpg" alt="Мышца">
               <p class="paragraph" align="right"><span class="E">В</span> честь трапеции назвали мышцу - "трапецевидная". <span class="E">Э</span>то плоская широкая мышца, занимающая поверхностное положение в задней области шеи и в верхнем отделе спины.</p>
            </div>
         </section>
      </main>
      <footer class="copyright">
         © Авторские права принадлежат <a href="https://t.me/ddd_drach_ddd">Драч Даниилу </a> и <a href="https://t.me/paket8d">Щепину Кириллу</a>, 2024.
      </footer>
   </body>
</html>