<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8"/>
      <title>Треугольник</title>
      <link rel="stylesheet" href="../styles/shapes.css"/> <!--берём стили из такого-то файла-->
      <link rel="stylesheet" href="../styles/main.css"/>
   </head>
   <body>
      <header class="header">
         <a href="index.html"><img class="logo" src="../images/geometric-puzzle-svgrepo-com.svg" alt="logo"></a>
         <nav>
            <ul class="nav_links">
               <li><a class="cta" href="index.html"><button class="not_visited">Главная</button></a></li>
               <li><a class="cta" href="geoworld.html"><button class="not_visited">Карта мира</button></a></li>
               <li><a class="cta" href="contacts.html"><button class="not_visited">Контакты</button></a></li>
            </ul>
         </nav>
          <!--ссылка на страницу с нами и контактами-->
      </header>
      <main>
         <h1 class="ind"><span class="E">Т</span>реугольник</h1>
         <section>
            <div class="first">
               <p class="paragraph"><span class="E">Т</span>реугольник применялся тысячелетия назад строителями египетских пирамид.
                  <span class="E">Д</span>а и вообще его используют везде: в музыке, авиастроении, при мореплавании, во флористике, в бижутерии и даже при приготовлении пищи.
               </p>
               <img class="main_img" src="../images/pyramid.png" alt="Пирамида">
            </div>
            <div class="first">
               <img class="main_img" src="../images/hz.png" alt="Жёсткий">
               <p class="paragraph" align="right"><span class="E">Т</span>реугольник — абсолютно жёсткая фигура. <span class="E">В</span> нём нельзя сдвинуть или раздвинуть никакие две стороны, в отличие от любого другого многоугольника.</p>
            </div>
         </section>
      </main>
      <footer class="copyright">
         © Авторские права принадлежат <a href="https://t.me/ddd_drach_ddd">Драч Даниилу </a> и <a href="https://t.me/paket8d">Щепину Кириллу</a>, 2024.
      </footer>
   </body>
</html>